
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <html>
    <h2>Success</h2>
<head>
    <title>Thanks you! - My Bank</title>
</head>
<body>
    <table>
        <tr>
            <td>
            <td class="description"><img src="../images/NewCreditCard.jpg" id="card1" wiid="C127" height="200px" width="400px"></td></td>
            <td>
                <h1>Thank you for your request.</h1>
                <br />
                We will quickly review your application and issue your new credit card. 
                <br/><br/>
                Thank you for choosing My Bank card.
            </td>
        </tr>
    </table>
</body>
    </html>
